body {
    background-color: #111;
}

h1, h2, h3, h4, h5, h6, p, span, a, button {
    color: #ddd;
    font-family: "Roboto Mono", monospace;
    margin: 0;
}

a:active {
    color: #fff;
}

a:hover {
    color: #00f;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.glow {
    text-shadow: -1px -1px 10px #fff;
}

.bold {
    font-weight: 1000;
}

.hidden {
    display: none;
}

.keep-whitespace {
    white-space: pre-wrap;
}

.biography {
    background-color: #222;
    padding: 3%;
}

.italic {
    font-style: italic;
}