<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/scps/shared.css">
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SCP-XXXX</title>
    </head>
    <body>
        <div class="center-flex">
            <div class="main-content">
                <div>
                    <span class="bold">Item #:</span>
                    <span>XXXX</span>
                </div>
                <br>
                <div>
                    <span class="bold">Object Class:</span>
                    <span></span>
                </div>
                <br>
                <div>
                    <span class="bold">Secure Containment Procedures:</span>
                    <span></span>
                </div>
                <br>
                <div>
                    <span class="bold">Description:</span>
                    <span></span>
                </div>
                <br>
                <div>
                    <span class="bold">Addendum XXXX.X:</span>
                    <span></span>
                </div>

                <div class="break"></div>
                <br>
                <div class="line">
                    <p class="bold">Footnotes:</p>
                    <!--- Remove if there are none --->
                </div>
            </div>
        </div>

        <script src="/scps/assets/footnotes.js"></script>
    </body>
</html>