.highlighted {
    font-weight: 1000;
    animation: highlighted-anim 5s infinite;
}

@keyframes highlighted-anim {
    0% { color: #00FF00; }
    50% { color: #FF0000; }
    100% { color: #00FF00; }
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.green {
    color: #00FF00;
}
.blue {
    color: blue;
}

.in-progress {
    animation: in-progress-anim 5s infinite;
}

@keyframes in-progress-anim {
    0% { color: #00FF00; }
    50% { color: #0000FF; }
    100% { color: #00FF00; }
}

.underline-on-hover {
    text-decoration: none;
    color: #0000AA;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

.bold {
    font-weight: 1000;
}

.strikethrough {
    text-decoration: line-through;
}

.italics {
    font-style: italic;
}

.comic-sans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#allowed-textarea, #banned-textarea {
    width: 100%;
}

.audit-log {
    cursor: pointer;
}